#bg {
    position: fixed;
    background-color: #8bb0ff;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; 
}

#ghoper {
    position: fixed;
    background-image: url('/img/small_ghoper.png');
    opacity: 0.4;
    background-position: right bottom;
    background-clip: border-box;
    background-repeat: no-repeat;
    z-index: -1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; 
 }

.preloader-background {
    display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
    opacity:1;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.input-field :focus + label {
    color:royalblue!important;
}

.input-field :focus {
    border-bottom: 1px solid royalblue !important;
    box-shadow: 0 1px 0 0 royalblue !important;
}

 